<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Caitlin's Website</title>
	
	<!-- Scripts to be included -->
    <script src="js/angular.js"></script>
    <script src="js/script.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
	<script src="js/ui-bootstrap-custom-0.12.0.js"></script>
	<script src="js/ui-bootstrap-custom-tpls-0.12.0.js"></script>

    <link href="css/MainPageCss.css" rel="stylesheet" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/jumbotron-narrow.css" rel="stylesheet" />

</head>
<body ng-app="cheersCaitlin">
<div class="container">
    <div class="jumbotron">
		<input class="image" type="image" src="images/caitlin1.png">
	</div>

	<h1 class="pagetitle"> Caitlin Langfitt </h1>
	<h4 class="subtitle"> Taking On the World </h4>
	
	<hr class="fancy">
	
	<h2 class="pagetitle">About Me</h2>
	
	<p class="shortparagraph" >
		I am by far the coolest ever. Everyone should try to be as cool as me.
		It's always about me because I rock. I can't even think about anything else to write about.
	</p>
	
	<hr class="fancy">
	
	<h2 class="pagetitle">Writing Samples</h2><br>
	
	<div ng-controller="AccordionDemoCtrl">
	
		<div>
		  
		  <accordion close-others="oneAtATime">
			<accordion-group heading="{{sample.title}}" ng-repeat="sample in samples" ng-click="markRead()">
			  <div ng-repeat="paragraph in sample.contents"><p>{{paragraph}}</p><br></div>
			</accordion-group>
		  </accordion>
		  
		</div>
	
	</div>

	<div class="container marketing" ng-controller="AccordionDemoCtrl">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-md-4" ng-repeat="interest in interests">
          <input class="image" type="image" src="{{interest.image}}">
          <h3 class="subtitle">{{interest.title}}</h3>
          <p>{{interest.content}}</p>
          <p><a class="btn btn-default" href="{{interest.linkURL}}" role="button">{{interest.linktitle}} &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
	</div>

</div>
</body>
</html>
