<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Caitlin's Website</title>
	
	<!-- Scripts to be included -->
    <script src="js/angular.js"></script>
    <script src="js/script.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
	<script src="js/ui-bootstrap-custom-0.12.0.js"></script>
	<script src="js/ui-bootstrap-custom-tpls-0.12.0.js"></script>

    <link href="css/MainPageCss.css" rel="stylesheet" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/jumbotron-narrow.css" rel="stylesheet" />

</head>
<body ng-app="cheersCaitlin">
<div class="container">
    <div class="jumbotron">
		<input class="image" type="image" src="images/caitlin1.png">
	</div>

	<h1 class="pagetitle"> Caitlin Langfitt </h1>
	<h4 class="subtitle"> Taking On the World </h4>
	
	<hr class="fancy">
	
	<div ng-controller="AccordionDemoCtrl">
	
	<div>`
	  
	  <accordion close-others="oneAtATime">
		<accordion-group heading="{{sample.title}}" ng-repeat="sample in samples" ng-click="markRead()">
		  <div ng-repeat="paragraph in sample.contents">{{paragraph}}<br><br></div>
		</accordion-group>
		<!--
		<accordion-group heading="Dynamic Body Content">
		  <p>The body of the accordion group grows to fit the contents</p>
			<button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
			<div ng-repeat="item in items">{{item}}</div>
		</accordion-group>
		-->
	  </accordion>
	  
	</div>
	
	</div>


</div>
</body>
</html>
